#plans {
margin: 2rem 0;

    .plans_container {
        display: flex;
        justify-content: space-between;
    }
    .card {
        margin: 1rem;
        .btn {
        margin-bottom: 2rem;
        letter-spacing: 1.1px;
        }
        &:nth-child(2) {
        background-color: darken($info-c, 10%);
        }
        &:nth-child(3) {
        background-color: darken($info-c, 20%);
        }
        &:nth-child(4) {
        background-color: darken($info-c, 30%);
        }
    }
}